<div>
    <div>
        <h1>{{form.title}}</h1>
        <h1>{{form.location}}</h1>
        <h1>{{form.date}}</h1>
        <h1>{{form.time}}</h1>
        <h1>{{form.ageRestriction}}</h1>
        <h1>{{form.genderRestriction}}</h1>
        <h1>{{form.description}}</h1>
    </div>

</div>