<main class="container user-main" id="userHome">
    <div class="container blog-top">

        <div class="jumbotron blog p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">You can now book tickets for your friends...</h1>
                <p class="lead my-3">Book my Events helps you to easily book tickets and need not to worry about.
                    Because you have to pay at the event. Book tickets for your friends and Dont forget to bring your
                    Id with you.</p>
                <p class="lead mb-0"><a href="#idForms" class="text-white font-weight-bold">Don't want to buy no
                        problem.Please take a look at the events...</a></p>
            </div>
            <div class="col-md-6 header-image">

            </div>
        </div>

    </div>
     {{#if form}}
    <div class="row" id="idForms">
       
        {{#each form}}

        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class=" mb-r col-lg-8 col-md-12 col-sm-12">
            <div class="card  text-center">
                <div class="social-media entire-white card-header">
                    <h1>{{title}}</h1>
                </div>
                <div class="card-body entire-black">
                    <p class="card-text entire-black">{{date}} | {{time}} | {{location}} </p>
                    <h2 class="card-title entire-black">{{description}}</h2>
                    <p class="card-text entire-black">{{seats}} Seats | {{ageRestriction}} | {{genderRestriction}} </p>
                    <form id="idregister" method="GET" action="/register/{{_id}}">
                        <div class="form-group ">
                            <div>
                                <button type="submit" class="btn nav-custom-butt btn-primary">Register Now</button>
                                {{!-- <a class="btn btn-primary">Comments</a> --}}
                            </div>

                        </div>
                    </form>
                    <form id="idcomment" method="GET" action="/comment/{{_id}}">
                        <div class="form-group ">
                            <div class="">
                                <button type="submit" class="btn btn-primary coment-user nav-custom-butt">Comments</button>
                                {{!-- <a class="btn btn-primary">Comments</a> --}}
                            </div>

                        </div>
                    </form>

                </div>
                <div class="card-footer social-media text-muted">
                    <p5 class="entire-white">${{cost}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-0"></div>

        {{/each}}

      

        

       
    </div>

  {{else}}
    <div class="notfound-div">
            <div class="notfound">
                <div class="notfound-404"></div>
                <h1>Empty!!</h1>
                <h2>No events created for now.</h2>
                <p>Sorry the section you are looking is empty.<br>Please  visit again
                    after sometime.</p>
                {{!-- <a href="http://localhost:3000/admin?">Create Form</a> --}}
            </div>
        </div>

         {{/if}}
</main>